@import '~css-reset-and-normalize/scss/reset-and-normalize';
@import 'functions/*';
@import 'mixins/*';
@import './base';

body {
  background: _($terminalColors, 'black');
  overscroll-behavior: none;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @include mq('>=tablet') {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

}

.terminal {
  flex: 1 1 auto;
  width: 100%;
  padding: 1rem;
  background: _($terminalColors, 'black');
  color: _($terminalColors, 'white');
  font-size: 1.2rem;
  font-family: _($fontFamilies, 'systemMono');
  line-height: (20/14);
  @include momentum-scrolling();

  @include mq('>=tablet') {
    height: auto;
    padding: 2rem;
    flex-shrink: 1;
  }

  .typed {
    max-width: 26rem;
  }

  a {
    color: _($terminalColors, 'blue');
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline
    }

  }

}
