@keyframes blink {
  to {
    visibility: hidden;
  }
}

.typed {
  white-space: pre-wrap;

  &__viewport {
    white-space: pre-wrap;

    &::after {
      content: '';
      display: inline-block;
      width: .55em;
      height: 1em;
      background-color: currentColor;
      line-height: 1;
      opacity: .8;
      transform: translate(.05em, .15em);
      animation: blink .8s steps(2, start) infinite;
    }

  }

  &__content {
    display: none;
  }

}
