@import 'functions/*';
@import 'mixins/*';
@import 'vars';
@import './profile.component.vars';

.profile {
  display: flex;
  flex-direction: column;
  padding: _($profile, 'padding', 'y') _($profile, 'padding', 'x');
  width: 100%;
  color: _($colors, 'abbey');
  line-height: 1.5;
  text-shadow: 1px 1px 0 _($colors, 'white');
  font-size: .875rem;

  @include mq('mobile-landscape') {
    flex-direction: row;
    justify-content: space-between;
  }

  &__section {
    width: 100%;

    @include mq('mobile-landscape') {
      width: calc(50% - #{_($profile, 'padding', 'x')});
    }

    &:not(:last-child) {
      margin-bottom: _($profile, 'spacing');
    }

  }

  &__avatar {
    display: block;
    margin: 0 auto;
    width: _($profile, 'avatarSize', 'mobile');
    height: _($profile, 'avatarSize', 'mobile');
    margin-bottom: _($profile, 'spacing');
    border-radius: 50%;
    overflow: hidden;

    @include mq('tablet') {
      width: _($profile, 'avatarSize', 'tablet');
      height: _($profile, 'avatarSize', 'tablet');
    }

    @include mq('desktop') {
      width: _($profile, 'avatarSize', 'desktop');
      height: _($profile, 'avatarSize', 'desktop');
    }

  }

  &__nickname,
  &__name {
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    color: _($colors, 'boulder');
  }

  &__nickname {
    opacity: .65;
    font-size: 1rem;
  }

  &__name {
    font-size: 1.125rem;
  }

  &__bio {
    margin: _($profile, 'spacing') 0;
  }

  &__headline {
    color: _($colors, 'boulder');
    font-weight: bold;
    margin: 0 0 _($profile, 'link', 'padding') 0;
    font-size: .75rem;
  }

}
