extends /templates/layouts/base
block title
  | Simbo’s Website
block body
  .view(
    style="position: absolute; top: -999999em; left: -999999em",
    :style="{position: 'static', top: 'auto', left: 'auto'}",
    @click="onClickView"
  )
    .page
      .terminal(@click="onClickTerminal")
        typed
          include /templates/terminal-text
      sidebar
        profile
  script(src="scripts/home.ts")
