extends /layouts/base

block title
  | Simbo’s Website

block body
  .vue(
    style = "position: absolute; top: -99999em; left: -99999em",
    :style = `{
      position: 'static',
      top: 'auto',
      left: 'auto'
    }`
  )

    .terminal-section
      typed
        strong
          span(pause="1250")
          | Hello World!
        span(pause="1000")
        br
        span(pause="250")
        br
        span(pause="250")
        | You've just stumbled across my website.
        span(pause="750")
        |  You are so awesome.
        span(pause="500")
        | .
        span(pause="500")
        | .
        span(pause="750")
        br
        span(pause="250")
        br
        span(pause="250")
        | There is not much to see here
        span(pause="750")
        |  but you can
        |  #[a(href="mailto:simbo@simbo.de") #[span(pause="250")]get in touch with me]
        span(pause="750")
        | , if you feel like you have to.
        span(pause="500")
        |   :)
        span(pause="750")
        br
        span(pause="250")
        br
        span(pause="750")
        | Simbo
        span(pause="500")
        | !{' ~ '}
        span(pause="500")
        | Simon Lepel
        br
        br
        span(data-pause=0)
